/*@def selectionBorderWidth 2px;*/
.dataGridWidget {
	
}

.dataGridFirstColumn {
	
}

.dataGridLastColumn {
	
}

.dataGridFooter { /*border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
	white-space: nowrap;*/
	
}

.dataGridHeader { /*border-bottom: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
	white-space: nowrap;*/
	
}

.dataGridCell { /*padding: 2px 15px;*/ /*overflow: hidden;*/
	/*border-bottom: 1px solid #777777;
			border-top: 0px;
			border-right: 0px;
			border-left: 0px;*/ /*color: #444444;*/ /*font-size: 11px;*/
	/*margin: 0px;*/ /*background-color: #dddddd;*/
	font-size: 12px;
	color: #444444;
	padding: 2px 4px 2px 4px;
	cursor: pointer;
	text-align: left;
	vertical-align: middle;
	background-color: #f2f2f2;
}

.dataGridFirstColumnFooter {
	
}

.dataGridFirstColumnHeader {
	
}

.dataGridLastColumnFooter {
	
}

.dataGridLastColumnHeader {
	
}

.dataGridSortableHeader { /*cursor: pointer;
	cursor: hand;*/
	
}

.dataGridSortableHeader:hover { /*color: #6c6b6b;*/ /*color: #FFFFFF;
	background: #316ac5;*/
	
}

.dataGridSortedHeaderAscending {
	
}

.dataGridSortedHeaderDescending {
	
}

.dataGridEvenRow {
	/*background: #ffffff;*/
}

.dataGridEvenRowCell { /*border: selectionBorderWidth solid #ffffff;*/
	
}

.dataGridOddRow {
	/*background: #f3f7fb;*/
}

.dataGridOddRowCell { /*border: selectionBorderWidth solid #f3f7fb;*/
	
}

.dataGridHoveredRow { /*background: #eee;*/
	
}

.dataGridHoveredRowCell { /*border: selectionBorderWidth solid #eee;*/
	
}

.dataGridKeyboardSelectedRow { /*background: #ffc;*/
	/*color: #FFFFFF;
	background: #316ac5;*/
}

.dataGridKeyboardSelectedRowCell {
	/*border: selectionBorderWidth solid #ffc;*/
	/*color: #FFFFFF;
	background: #316ac5;*/
}

.dataGridSelectedRow { /*background: yellow;
	color: white;*/
	/*color: #FFFFFF;
	background: #316ac5;*/
}

.dataGridSelectedRowCell {
	/*border: selectionBorderWidth solid #628cd5;*/
	color: #FFFFFF;
	background: #316ac5;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
	/*border: selectionBorderWidth solid #d7dde8;*/
	/*color: #FFFFFF;
	background: #316ac5;*/
}