<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.imogene.sync.client.ui.SyncPreferencePage"
            id="org.imogene.sync.client.ui.SyncPreferencePage"
            name="%synchronization.name">
      </page>     
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.imogene.sync.client.ui.SyncPreferenceInitializer">
      </initializer>
   </extension>

</plugin>