<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.imogene.studio.contrib.ui.Perspective"
            fixed="false"
            icon="icons/logo_imogene_24.gif"
            id="org.imogene.studio.contrib.perspective"
            name="Imogene">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/logo_imogene_24.gif"
            id="org.imogene.studio.contrib.navigator"
            name="Imogene projects">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.imogene.studio.contrib.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.imogene.studio.contrib.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.imogene.studio.contrib.navigator">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.imogene.studio.contrib.popupmenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.imogene"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="org.imogene.studio.contrib.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.imogene.studio.contrib.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="org.imogene.studio.contrib.navigator">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.imogene.studio.contrib.ui.navigator.ImogeneTreeContentProvider"
            icon="icons/logo_imogene_24.gif"
            id="org.imogene.studio.contrib.navigatorContent"
            labelProvider="org.imogene.studio.contrib.ui.navigator.ImogeneLabelProvider"
            name="Navigator content"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </and>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider"
            id="org.imogene.studio.contrib.editAction">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.PortingActionProvider"
            id="org.imogene.studio.contrib.newAction">
         <enablement>
            <and>
               <instanceof
                     value="org.imogene.studio.contrib.IFolder">
               </instanceof>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </not>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.imogene.studio.contrib.perspective">
         <view
               closeable="false"
               id="org.imogene.studio.contrib.navigator"
               minimized="false"
               moveable="false"
               ratio="0.33f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.imogene.studio.contrib.navigator"
               showTitle="true"
               standalone="false">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.imogene.studio.contrib.navigator">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.imogene.studio.modelnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.imogene.studio.contrib.ImogeneModelNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.imogene.studio.contrib.properties.GenerationPropertiesPage"
            icon="icons/logo_imogene_24.png"
            id="org.imogene.studio.contrib.ModelPropertiesPage"
            name="Generation Imogene"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.imogene.studio.modelnature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.imogene.model.contrib"
            nameFilter="*.imog"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/logo_imogene_24.png"
               id="imogene.model"
               label="Imogene"
               path="addition">
            <groupMarker
                  name="actions">
            </groupMarker>
         </menu>
         <action
               class="org.imogene.studio.contrib.action.AddShortNamesAction"
               icon="icons/shortName.png"
               id="org.imogene.studio.contrib.AddShortNameAction"
               label="Add short names"
               menubarPath="imogene.model/actions">
         </action>
         <action
               class="org.imogene.studio.contrib.action.AddDescriptionsAction"
               icon="icons/description.png"
               id="org.imogene.studio.contrib.action.AddDescriptionsAction"
               label="Add descriptions"
               menubarPath="imogene.model/actions">
         </action>
         <action
               class="org.imogene.studio.contrib.action.AddColorsAction"
               icon="icons/colors.png"
               id="org.imogene.studio.contrib.action.AddColorsAction"
               label="Generate colors"
               menubarPath="imogene.model/actions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.imogene.gen.contrib"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.imogene.studio.modelnature">
         </filter>
         <menu
               icon="icons/logo_imogene_24.png"
               id="imogene.gen.menu"
               label="Imogene"
               path="addition">
            <groupMarker
                  name="generator">
            </groupMarker>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/logo_imogene_8.gif"
            id="org.imogene.studio.modelnature.image"
            natureId="org.imogene.studio.modelnature">
      </image>
   </extension>

</plugin>
