<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.imogene.client.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.imogene.client.%modelName%.application"
            description="%productAbout"
            name="Imogene Rcp">
         <property
               name="appName"
               value="Imogene Rcp">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="aboutImage"
               value="icons/about_image.png">
         </property>
         <property
               name="windowImages"
               value="icons/laboratory-16x16.png,icons/laboratory-32x32.png,icons/laboratory-48x48.png,icons/laboratory-64x64.png,icons/laboratory-128x128.png">
         </property>
         <property
               name="aboutText"
               value="%productAbout">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.imogene.client.bugreport.BugReportHandler"
            id="org.imogene.client.command.reportBug"
            name="%bugreport.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.imogene.client.bugreport.BugReportPreferencePage"
            id="org.imogene.client.bugreport.BugReportPreferencePage"
            name="%bugreport.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.imogene.client.dashboard.DashboardPerspective"
            id="org.imogene.client.dashboard.DashboardPerspective"
            name="%dashboard.pers.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.imogene.client.dashboard.DashboardView"
            id="org.imogene.client.dashboard.DashboardView"
            name="%dashboard.view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.imogene.client.dashboard.DashboardPerspective">
         <view
               closeable="false"
               id="org.imogene.client.dashboard.DashboardView"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=additions">
         <command
               commandId="org.imogene.client.command.reportBug"
               id="org.imogene.client.command.reportBug"
               mnemonic="%bugreport.mnemonic"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.imogene.client.bugreport.BugReportPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
